body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

* {
  font-family: 'Roboto', sans-serif;
}


header {
  height: 100vh;
  width: 100%;
  background-image: url('../images/payments-banner-graphic.png');
  text-align: center;
  clear: both;
  color: #fff;
}

nav {
  padding: 10px 15px 0 15px;
}
.kicker {
  clear: both;
}

.logo {
  float: left;
  text-transform: uppercase;
  font-weight: bold;

}

.logo span {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  bottom: 7px;
  margin-left: 5px;
}

.logo img {
  height: 30px; width: 30px;
}



.sign-up {
  float: right;
}
.sign-up a {
  display: inline-block;
  padding: 15px;
  font-size: 15px;
}

.kicker {
  padding-top: 135px;
}

.kicker p {
  font-size: 20px;
  font-family: serif;
}

.kicker a {
  display: inline-block;
  padding: 10px 45px;
  background-color: white;
  color: #8080be;
  margin-top: 10px;
  border-radius: 5px;
}

.block2 {
  height: 280px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid DimGray;
}

.panel img {
  height: 70px; width: 70px;
}

.block2 .panel {
  display: inline-block;
  width: 32.3333333%;
  margin-top: 50px;
  border-left: 2px solid #CCCCCC;
}

.block2 .panel:first-of-type {
  border-left: none;
}

.panel h2,p {
  font-weight: 300;
  color: DimGray;
}

.panel p {
  font-size: 15px;
}
